.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
/verilog/rtl/ip_line_mux_obj_dir
/xschem/simulation/*.raw
/mag/core.*
/xschem/simulation/tb_*.spice
/mag/ip_*.txt
/mag/tt_um_baal86_openschnapp.fb.txt
/verilog/rtl/ip_column_mux/ip_column_mux_obj_dir
/verilog/rtl/ip_column_mux/sim_build
/verilog/rtl/ip_line_mux/ip_line_mux_obj_dir
/verilog/rtl/ip_line_mux/sim_build
/verilog/rtl/ip_column_mux/*.so
/verilog/rtl/ip_column_mux/*.xml
/verilog/rtl/ip_line_mux/*.so
/verilog/rtl/ip_line_mux/*.xml
/verilog/rtl/ip_row_mux/ip_row_mux_obj_dir
/verilog/rtl/ip_row_mux/sim_build
/verilog/rtl/ip_row_mux/*.so
/verilog/rtl/ip_row_mux/*.xml
