#N
A\[4\]
A\[3\]
A\[2\]
A\[1\]
A\[0\]

#S
Y\[10\]
Y\[11\]
Y\[12\]
Y\[13\]
Y\[14\]
Y\[5\]
Y\[6\]
Y\[7\]
Y\[8\]
Y\[9\]
Y\[0\]
Y\[1\]
Y\[2\]
Y\[3\]
Y\[4\]
Y\[15\]
Y\[16\]
Y\[17\]
Y\[18\]
Y\[19\]
Y\[20\]

#E


#W

